@page
@model EmailModel

<link rel="stylesheet" href="~/css/Manage.css" asp-append-version="true" />
<script src="~/js/ColorInput.js" type="text/javascript" asp-append-version="true"></script>

@{
    ViewData["Title"] = "Email kezelése";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" for="StatusMessage" />
<form id="email-form" method="post" class="ManageForm">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="flex">
        @if (Model.IsEmailConfirmed)
        {
            <label asp-for="Email" class="color"></label>
            <input asp-for="Email" class="inputF" disabled />
        }
        else
        {
            <label asp-for="Email" class="color"></label>
            <input asp-for="Email" class="inputF" disabled />
            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Megerősatő email elküldése</button>
        }
        <label asp-for="Input.NewEmail" class="color">Új email</label>
        <input asp-for="Input.NewEmail" class="inputF" autocomplete="email" aria-required="true" />
        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>

        <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="Savebttn">Email megváltoztatása</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
