@page
@model IndexModel

<link rel="stylesheet" href="~/css/Manage.css" asp-append-version="true" />
<script src="~/js/ColorInput.js" type="text/javascript" asp-append-version="true"></script>

@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<body class="bg">
    @* <h3>@ViewData["Title"]</h3> *@
    <partial name="_StatusMessage" for="StatusMessage"/>
    @* <div class="row"> *@
        @* <div class="col-md-6"> *@
    <form id="profile-form" method="post" class="ManageForm">
       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <div class ="flex">
            <label asp-for="Username" class="color">Felhasználónév</label>
            <input asp-for="Username" class="inputForm" disabled />

            <label asp-for="Input.PhoneNumber" class="color">Telefonszám</label>
            <input asp-for="Input.PhoneNumber" class="inputForm" />
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            <button id="update-profile-button" type="submit" class="Savebttn">Mentés</button>
       </div>
    </form>
        @* </div> *@
    @* </div> *@
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
