@{
    ViewData["Title"] = "Sikeres megrendelés";
}

<link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />

<body class="bg">
    <div class="regConf">
        <h1 class="Title">Sikeres megrendelés!</h1>
        <div class="center">
            <a class="backToMain" asp-controller="Home" asp-action="Index">Vissza a főoldara</a>
        </div>
    </div>
</body>



