@{
    ViewData["Title"] = "Sikeres megrendelés";
}

<link rel="stylesheet" href="~/css/SuccessOrder.css" asp-append-version="true" />


<h1 class="title text-center">Sikeres megrendelés!</h1>
<div class="center">
    <a class="abuttom" asp-controller="Home" asp-action="Index">Vissza a főoldara</a>
</div>


