.bg {
    background-color: black;
    background: linear-gradient(to right,rgb(98,19,76),rgb(21,0,54));
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
}

.login {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.LogInbutton {
    margin-top: 25px;
    margin-bottom: 6px;
    border-radius: 10px;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5%;
    background-color: #97477D;
    color: white;
}

.form label {
    margin-top: 20px;
    margin-bottom: 5px;
}

.LogInbutton:hover {
    box-shadow: 2px 2px 12px #97477D;
}

.inputForm {
    margin-bottom: 3%;
    color: white;
    height: 40px;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 2px 2px 12px inset black;
    background: linear-gradient(to right,rgb(98,19,76),rgb(21,0,54));
}

    .inputForm:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #150036 inset;
        -webkit-text-fill-color: white !important;
        /*background-image: linear-gradient(to right, rgb(98,19,76), rgb(21,0,54)) !important;*/
    }

.span:hover {
    font-weight: bold;
}

.color {
    color: white;
}

.align {
    text-align: center;
}

.cyberpunk-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-left: 8px;
    cursor: pointer;
}

    .cyberpunk-checkbox:before {
        content: "";
        background-color: white;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 10px;
        height: 10px;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
    }

    .cyberpunk-checkbox:checked:before {
        transform: translate(-50%, -50%) scale(1);
    }

.cyberpunk-checkbox-label {
    font-size: 18px;
    color: white;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.unset{
    all:unset;
}
    .unset:hover {
        font-weight: bold;
        color: white;
        cursor: pointer;
    }

#bg {
    background-image: linear-gradient(to right,rgb(98,19,76),rgb(21,0,54));
}
