.container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.searchContainer {
    width: 260px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,rgb(98,19,76),rgb(21,0,54));
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.search {
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    caret-color: rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
}

ul {
    list-style-type: none;
}

.cyberpunk-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #62134C;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

    .cyberpunk-checkbox:before {
        content: "";
        background-color: #62134C;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 10px;
        height: 10px;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
    }

    .cyberpunk-checkbox:checked:before {
        transform: translate(-50%, -50%) scale(1);
    }

.cyberpunk-checkbox-label {
    font-size: 18px;
    color: black;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}


