@model DUEGsm.Models.Order

<link rel="stylesheet" href="~/css/Orders.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Státusz változása";
}

<body class="bg">
        <form asp-action="Edit" class="statusForm">
        <div class="flex">
            <div class="login color">Rendelés kezelése</div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group inputs">
                <label asp-for="UserId" class="control-label hide-field">ID</label>
                <select asp-for="UserId" class="form-control hide-field" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger hide-field"></span>
            </div>
            <div class="form-group inputs">
                <label asp-for="ApplicationUser.LastName" class="control-label hide-field">Vezetéknév</label>
                <input asp-for="ApplicationUser.LastName" class="form-control hide-field" />
                <span asp-validation-for="ApplicationUser.LastName" class="text-danger hide-field"></span>
            </div>
            <div class="form-group inputs">
                <label asp-for="ApplicationUser.FirstName" class="control-label hide-field">Keresztnév</label>
                <input asp-for="ApplicationUser.FirstName" class="form-control hide-field" />
                <span asp-validation-for="ApplicationUser.FirstName" class="text-danger hide-field"></span>
            </div>
            <div class="form-group inputs">
                <label asp-for="Status" class=" color">Státusz</label>
                <input asp-for="Status" class="inputForm" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group inputs">
                <label asp-for="OrderDate" class="color">Rendelés dátuma</label>
                <input asp-for="OrderDate" class="inputForm" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group buttons">
                <a class="back" asp-action="Index">Vissza</a>
                <input type="submit" value="Mentés" class="LogInbutton" />
            </div>
        </div>
        </form>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
