@model DUEGsm.Models.Mobile

@{
    ViewData["Title"] = "Létrehozás";
}

<link rel="stylesheet" href="~/css//MobilesEditCreate.css" asp-append-version="true" />
<script src="~/js/inputBefore.js" type="text/javascript" asp-append-version="true"></script>

<body class="bg">
    <form asp-action="Create" class="loginForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="flex">
            <div class="login color">Termék hozzáadása</div>
            <label asp-for="Brand" class="color"></label>
            <input asp-for="Brand" class="inputForm" />
                    <span asp-validation-for="Brand" class="text-danger"></span>

            <label asp-for="Modell" class="color"></label>
            <input asp-for="Modell" class="inputForm" />
                    <span asp-validation-for="Modell" class="text-danger"></span>

            <label asp-for="Color" class="color"></label>
            <input asp-for="Color" class="inputForm" />
                    <span asp-validation-for="Color" class="text-danger"></span>

            <label asp-for="OperatingSystem" class="color"></label>
            <input asp-for="OperatingSystem" class="inputForm" />
                    <span asp-validation-for="OperatingSystem" class="text-danger"></span>

            <label asp-for="Screen" class="color"></label>
            <input asp-for="Screen" class="inputForm" />
                    <span asp-validation-for="Screen" class="text-danger"></span>

            <label asp-for="Processor" class="color"></label>
            <input asp-for="Processor" class="inputForm" />
                    <span asp-validation-for="Processor" class="text-danger"></span>

            <label asp-for="FrontCamera" class="color"></label>
            <input asp-for="FrontCamera" class="inputForm" />
                    <span asp-validation-for="FrontCamera" class="text-danger"></span>

            <label asp-for="BackCamera" class="color"></label>
            <input asp-for="BackCamera" class="inputForm" />
                    <span asp-validation-for="BackCamera" class="text-danger"></span>

            <label asp-for="Stroage" class="color"></label>
            <input asp-for="Stroage" class="inputForm" />
                    <span asp-validation-for="Stroage" class="text-danger"></span>

            <label asp-for="Description" class="color"></label>
            <input asp-for="Description" class="inputForm" />
                    <span asp-validation-for="Description" class="text-danger"></span>

            <label asp-for="UploadDate" class="color"></label>
            <input asp-for="UploadDate" class="inputForm" />
                    <span asp-validation-for="UploadDate" class="text-danger"></span>

            <input type="submit" value="Hozzáadás" class="LogInbutton" />
                </div>
        <div>
            <a class="Back" asp-action="Index">Vissza</a>
        </div>
        <div class="spacing"></div>
            </form>
    <div>
        
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
