@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Hozzáférés megtagadva";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nincs jogosultsága ehhez az oldalhoz.</p>
</header>
