@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email megerősítve";
}

<link rel="stylesheet" href="~/css/LoginIndex.css" asp-append-version="true" />

<body class="bg">
    <div class="regConf">
        <h1>@ViewData["Title"]</h1>
        Köszönjük a megerősítést!
    </div>
</body>

