@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Elfelejtette a jelszavát?";
}

<link rel="stylesheet" href="~/css/LoginIndex.css" asp-append-version="true" />
<script src="~/js/ColorInput.js" type="text/javascript" asp-append-version="true"></script>

<body class="bg">
    <form method="post" class="loginForm">
        <div class="flex">
            <div class="login color">Jelszó visszaállítása<br><span class="AltTitle">Írja be az email címét.</span></div>
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
            <label asp-for="Input.Email" class="color"></label>
            <input asp-for="Input.Email" class="inputForm" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <button type="submit" class="LogInbutton">Jelszó megváltoztatása</button>
        </div>
     </form>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
