@page
@model ForgotPasswordConfirmation

<link rel="stylesheet" href="~/css/LoginIndex.css" asp-append-version="true" />


@{
    ViewData["Title"] = "Elfelejtett jelszó megerősítése";
}


<body class="bg">
    <div class="regConf">
        <h1>@ViewData["Title"]</h1>
        <p>
            Nézze meg az email címére érkezett levelet.
        </p>
    </div>
</body>
