@page
@model RegisterConfirmationModel

<link rel="stylesheet" href="~/css/LoginIndex.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Regisztráció megerősítése";
}

<body class="bg"> 
    <div class="regConf">
        <h1>@ViewData["Title"]</h1>
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <p>
                    Ez csak egy szimulált email megerősítés.
                    Erősítse meg itt az email címét: <b><a class="unset" id="confirm-link" href="@Model.EmailConfirmationUrl">Kattintson ide a megerősítéshez!</a></b>
                </p>
            }
            else
            {
                <p>
                    Please check your email to confirm your account.
                </p>
            }
        }
    </div>
</body>



