@page
@model RegisterModel
@{
    ViewData["Title"] = "Regisztráció";
}

<link rel="stylesheet" href="~/css/LoginIndex.css" asp-append-version="true" />

<body class="bg">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="loginForm">
        <div class="flex">
            <div class="login color">Regisztráció</div>
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
            <label asp-for="Input.LastName" class="color"></label>
            <input asp-for="Input.LastName" class="inputForm" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.LastName" class="text-danger"></span>

            <label asp-for="Input.FirstName" class="color"></label>
            <input asp-for="Input.FirstName" class="inputForm" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>

            <label asp-for="Input.Email" class="color"></label>
            <input asp-for="Input.Email" class="inputForm" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>

            <label asp-for="Input.Password" class="color"></label>
            <input asp-for="Input.Password" class="inputForm" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <label asp-for="Input.ConfirmPassword" class="color"></label>
            <input asp-for="Input.ConfirmPassword" class="inputForm" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

            <button id="registerSubmit" type="submit" class="LogInbutton">Regisztráció</button>
        </div>
    </form>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
