@page
@model ResendEmailConfirmationModel

<link rel="stylesheet" href="~/css/LoginIndex.css" asp-append-version="true" />
<script src="~/js/ColorInput.js" type="text/javascript" asp-append-version="true"></script>

@{
    ViewData["Title"] = "Megerősítő email újra küldése";
}

<body class="bg">
    <form method="post" class="loginForm">
        <div class="flex">
            <div class="login color">Megerősítő email újra küldése<br><span class="AltTitle">Írja be az email címét.</span></div>
        @* <div asp-validation-summary="All" class="text-danger"></div> *@
            <label asp-for="Input.Email" class="color"></label>
            <input asp-for="Input.Email" class="inputForm" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <button type="submit" class="LogInbutton">Újra küldés</button>
        </div>
    </form>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
