@model string
@{
    ViewData["Title"] = "Jogosultság létrehozása";
}

<link rel="stylesheet" href="~/css/LoginIndex.css" asp-append-version="true" />

<body class="bg">
    <div class="regConf">
        <h1 class="Title">Jogosultság létrehozása</h1>
        
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-action="Create" method="post">
            <div class="form-group">
                <label for="name" class="createRole-label">Megnevezés:</label>
                <input name="name" class="createRole" />
            </div>
            <button type="submit" class="Save">Létrehozás</button>
        </form>
        <a asp-action="Index" class="Back">Vissza</a>
    </div>
</body>

