@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

<link rel="stylesheet" href="~/css/LoginIndex.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Felhasználói körök";
}
<body class="bg">

<div class="regConf">
        <h1 class="Title">Jogosultságok</h1>
        <table class="roleTable">
            <tr>@* <th>ID</th> *@<th>Megnevezés</th><th>Felhasználók</th><th class="BttnCon">Hozzáadás</th></tr>
            @foreach (var role in Model)
            {
                <tr>
                    @* <td>@role.Id</td> *@
                    <td>@role.Name</td>
                    <td i-role="@role.Id"></td>
                    <td class="BttnCon"><a asp-action="Update" asp-route-id="@role.Id"><input type="button" class="AddBttn" value="Hozzáadás" /></a></td>
                </tr>
            }
        </table>
        <a asp-action="Create"><input type="button" class="AddBttn" value="Jogosultság létrehozása" /></a>
</div>
</body>

